.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(158, 239, 239, 0.408);
}

.drag-container {
  width: 450px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.label-container {
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(161, 205, 243, 0.408);
  border: 3px dashed rgba(119, 171, 217, 0.408);
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 20px 0;
}

.label-container img {
  width: 40px;
}

.label-container:hover {
  opacity: 0.6;
}
.on-drag {
  opacity: 0.6;
}

.fileList-container {
  /* height: 100px; */
  width: 380px;
  background-color: rgba(203, 227, 248, 0.408);
  display: flex;
  align-items: center;
  border-radius: 13px;
  margin-bottom: 10px;
}

.fileList-container img {
  width: 50px;
  margin: 0 10px;
}

.fileList-string p {
  font-size: 14px;
  width: 260px;
}

.remove-file {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}
